* {
  padding: 0px;
  margin: 0px;

  background-color: #2c2a2a;
}

main {
  display: flex;
  flex-direction: column;
  margin: 10px;
  color: white;
  border: 2px solid red;
  .header__nav-bar {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;

    a {
      color: white;
      text-decoration: none;
    }

    .nav-bar__container {
      display: flex;
      align-items: center;
      width: 60vw;
      height: 5vh;

      border: 2px solid yellow;
      justify-content: space-between;
    }
  }
  .main__centre-text {
    display: flex;
    justify-content: center;
    border: 2px solid burlywood;
    margin: 10px 0px;
  }
  .main__job-role-text {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    margin: 20px 0px;

    border: 2px solid rgb(228, 163, 9);
  }
  .main__placeholder-text {
    border: 2px solid yellowgreen;
    width: 90%;
    margin: 20px, 0px;
  }
  .skills-section-container {
    display: flex;
    height: 20vh;

    border: 2px solid white;
    .skills-section-container__left-side {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      width: 50%;
      border: 2px solid blue;
    }
    .skills-section-container__right-side {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;

      border: 2px solid green;
      width: 50%;
    }
  }

  .main__project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid green;
    padding: 10px 0px;
    height: auto;
  }
  .main__about-article {
    display: inline-block;
    border: 2px solid blue;
    padding: 10px 0px;
    p {
      margin-top: 20px;
      width: 95%;
    }
  }
}
